################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/YTDownloader/.vs/YTDownloader
/src/YTDownloader/packages
/src/YTDownloader/YTDownloader/bin/
/src/YTDownloader/YTDownloader/obj/
*.user
/src/YTDownloader/YTDownloaderSetup/Debug
/src/YTDownloader/YTDownloaderSetup/Release
/src/YTDownloader/YTDownloaderNsisSetup/YouTubeDownloaderSetup.exe
/.vs
